{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>SB Admin 2 - Register</title>
  
  <!-- Custom fonts for this template-->
  <link href="{% static 'login/vendor/fontawesome-free/css/all.min.css' %}vendor/fontawesome-free/css/all.min.css"
  rel="stylesheet" type="text/css">
  <link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">
  
  <!-- Custom styles for this template-->
  <link href="{% static 'login/css/sb-admin-2.min.css' %}" rel="stylesheet">
  
</head>

<body class="bg-gradient-primary">
  
  <div class="container">
    
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">¡Crea una cuenta!</h1>
              </div>
              <form class="user" method="POST" action="{% url 'usuario:update' request.user.pk %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                {{ field.label_tag }}
                <div class="form-group">
                  {{ field }}
                  {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
                  {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                  {% endfor %}
                </div>
                {% endfor %}
                <!--               <div class="form-group">
                  <input type="text" class="form-control form-control-user" name="username"
                  placeholder="Nombre de usuario">
                </div>
                <div class="form-group row">
                  
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="first_name" placeholder="Nombres">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" name="last_name" placeholder="Apellidos">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" name="mail"
                  placeholder="Correo electronico">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-user" name="password"
                  placeholder="Contraseña">
                </div> -->
                
                <button  class="btn btn-primary btn-user btn-block" type="submit">
                  actualizar cuenta
                </button>
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'login/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'login/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
  <!-- Core plugin JavaScript-->
  <script src="{% static 'login/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  
  <!-- Custom scripts for all pages-->
  <script src="{% static 'login/js/sb-admin-2.min.js' %}"></script>
  
</body>

</html>