{% extends 'base.html' %}
{% load static %}

{% block main_title %}
    Crear una categoría
{% endblock main_title %}

{% block main_subtitle %}
    {{ object.titulo }}
{% endblock main_subtitle %}

{% block container %}
<form action="{% url 'categorias:create' %}" method="POST">
    {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        {{ field.label_tag }}
        <div class="form-group">
            {{ field }}
            {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    <div class="modal-footer">
        <button id = "IdAgregar" class="btn btn-primary" type="submit">Agregar</button>
        <a href="{% url 'categorias:list' %}"
            class="btn btn-secondary">Cancelar</a>
    </div>
</form>

{% endblock container %}
