{% extends 'base.html' %}


{% block main_title %}{{ object.nombre }}{% endblock main_title %}
{% block main_subtitle %}{{ object.descripcion }}{% endblock main_subtitle %}

{% block container %}
    
            {% for post in posts %}
            <div class="post-preview">
                <a href="{% url 'posts:detail' post.slug %}">
                    <h5 class="post-title">
                        {{ post.titulo }}
                    </h5>
                    <h3 class="post-subtitle">
                        {{ post.descripcion }}
                    </h3>
                </a>
                <p class="post-meta">Creado: {{ post.fecha_creacion }}</p>
            </div>
            <hr>
            {% empty %}
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">No se han encontrado datos.</h1>
                    </div>
                </div>

            {% endfor %}
       
{% endblock container %}