{% extends 'base.html' %}

{% block container %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for categoria in object_list %}
            <div class="categoria-preview">
                <a href="{% url 'categorias:detail' categoria.slug %}">
                    <h2 class="categoria-title">
                        {{ categoria.nombre }}
                    </h2>
                    <h3 class="categoria-subtitle">
                        {{ categoria.descripcion }}
                    </h3>
                </a>
                <p class="categoria-meta">Creado: {{ categoria.fecha_creacion }}</p>
            </div>
            <hr>
            {% endfor %}
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older categorias &rarr;</a>
            </div>
        </div>
    </div>
{% endblock container %}