

<form action="{% url 'comentario:create' %}" method="POST">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
    {{ field.label_tag }}
    <div class="form-group">
        {{ field }}
        {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    {% endfor %}
    <hr>
    <div class="modal-footer">
        <button id="IdAgregar" class="btn btn-primary" type="submit">Agregar</button>
    </div>
</form>