{% extends "base.html" %}
{% load static %}

{% block main_title %}
{{object.titulo}}
{% endblock main_title %}

{% block container %}
<div id="content-wrapper">
        <br><br><br>
        <div class="central_container_form">
            <h1 class="text-center">¿Realmente deseas eliminar el post?</h1>
            <br><br><br>
            <form action="{% url 'posts:delete' object.slug %}" method="post">
                {% csrf_token %}
                <div class="modal-footer">
                    <button class="btn btn-danger" type="submit">Confirmar</button>               
                    <a href="{% url 'posts:list' %}" class="btn btn-secondary">Cancelar</a>                
                </div>
            </form>
        </div>
    </div>
    
{% endblock container %}