{% extends 'base.html' %}
{% load static %}



{% block main_title %}
{{ object.titulo }}
{% endblock main_title %}

{% block main_subtitle %}
{{ object.titulo }}
{% endblock main_subtitle %}

{% if object.img %}
    {% block img %}{% get_media_prefix %}{{object.imagen}}{% endblock img %}
{% endif %}

{% block container %}
{{object.contenido | safe }}
<div class="modal-footer">  
         
        {% if object.autor.id == request.user.id or request.user.is_staff %}
        <a href="{% url 'posts:delete' object.slug %}" id="IdEliminar" class="btn btn-danger">Eliminar post</a>   
        <a href="{% url 'posts:update' object.slug %}" id="IdModificar" class="btn btn-warning" >Modificar post</a>
        {% endif %}
    </div>
{% endblock container %}

{% block comentarios %}
{%if request.user.is_authenticated %}
<form action="{% url 'comentario:create' %}" method="POST">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        {{ field.label_tag }}
        <div class="form-group">
            {{ field }}
            {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>
    
        {% endfor %}
        <hr>
        <div class="modal-footer">  
            <button id="IdAgregar" class="btn btn-success" type="submit">Agregar comentario</button>
        </div>
</form>
{% endif %}
<br>
<ul class="list-unstyled">
{% for comentario in object.comentario_set.all %}
    <li class="media">
        <div class="media-body">
            <h5 class="mt-0 mb-1">{{comentario.usuario.first_name}}</h5>
            {{comentario.comentario}}
        </div>
    </li>
    <br>
    {% endfor %}
</ul>
{% endblock comentarios %}