{% extends 'base.html' %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-md-12 search">
            <form method="GET">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="btn btn-success">Buscar</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in object_list %}
            <div class="post-preview">
                <a href="{% url 'posts:detail' post.slug %}">
                    <h2 class="post-title">
                        {{ post.titulo }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.descripcion }}
                    </h3>
                </a>
                <p class="post-meta">Publicado por <strong>{{ post.autor }}</strong> el mes de {{ post.fecha_creacion }}</p>
            </div>
            <hr>
            {% empty %}
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">No se han encontrado datos.</h1>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock container %}