{% extends "base.html" %}
{% load static %}

{% block main_title %}
{{object.titulo}}
{% endblock main_title %}

{% block container %}
<div id="content-wrapper">
    <br><br>
    <form class="central_container_form needs-validation was-validatedx" action="{% url 'posts:update' object.slug %}"
        method="POST">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="modal-footer">
            <button id="IdAgregar" class="btn btn-primary" type="submit">Guardar</button>
            <a href="{% url 'posts:list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock container %}